:root {
  --gray-text: #b3b3ba;
  --gray-border: #b3b3ba;
  --grey-bg: #f5f5fa;
  --grey-separator: #e6e6f0;
  --white-text: #ffffff;
  --accent: #f0145a;
  --active-regular: #24a3ff;
  --active-hover: #0084ff;
  --active-active: #006ccf;
  --main-regular: #323264;
  --basic-black: #000;
  --text-shadow: rgba(0, 0, 0, 0.25);
  --red-text-gradient: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
}