* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  padding: 50px 60px 40px 60px;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__wrapper ul {
  display: flex;
  gap: 15px;
  color: var(--active-regular);
  font-weight: bold;
}
.header__wrapper ul li {
  padding-bottom: 3px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__wrapper ul li a {
  color: var(--active-regular);
}
.header__wrapper ul li:hover {
  padding-bottom: 1px;
  border-bottom: 2px solid var(--active-regular);
}
.header__wrapper ul li .active {
  color: var(--Accent, #f0145a);
  padding-bottom: 1px;
  border-bottom: 2px solid var(--Accent, #f0145a);
}
.header__left-block {
  flex-basis: 40%;
  order: 1;
}
.header__right-block {
  display: flex;
  flex-basis: calc(40% - 10px);
  margin-left: auto;
  justify-content: flex-end;
  gap: 6px;
  align-items: center;
  color: var(--gray-text);
  white-space: nowrap;
}
.header__right-block_1 {
  order: 2;
}
.header__right-block_2 {
  order: 3;
}
.header__right-block .num {
  font-weight: bold;
}
.header__lang {
  display: flex;
}
.header__lang p {
  font-weight: bold;
  padding: 5px 7px;
  border-radius: 8px;
}
.header__lang p:hover {
  background-color: var(--grey-bg);
  color: var(--gray-text);
}
.header__lang .active {
  color: var(--white-text);
  background-color: var(--accent);
}

@media screen and (max-width: 1100px) {
  .header__left-block, .header__right-block {
    flex-basis: 100%;
    justify-content: flex-start;
  }
  .header__wrapper {
    gap: 30px;
  }
  .header__left-block {
    order: 3;
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding: 20px 30px;
  }
  .header__wrapper {
    gap: 20px;
  }
}
:root {
  --gray-text: #b3b3ba;
  --gray-border: #b3b3ba;
  --grey-bg: #f5f5fa;
  --grey-separator: #e6e6f0;
  --white-text: #ffffff;
  --accent: #f0145a;
  --active-regular: #24a3ff;
  --active-hover: #0084ff;
  --active-active: #006ccf;
  --main-regular: #323264;
  --basic-black: #000;
  --text-shadow: rgba(0, 0, 0, 0.25);
  --red-text-gradient: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);
}

.footer {
  background: var(--grey-bg);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-top: 2px solid var(--grey-separator);
  flex-wrap: wrap;
  gap: 20px;
}
.footer-box .blue_1 {
  color: var(--active-regular, #24a3ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-box .blue_2 {
  color: var(--active-regular, #24a3ff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-box .num {
  color: var(--main-alt, #46466e);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-left-up {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.footer-left-down {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.footer-right {
  color: var(--grey-text, #b3b3ba);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .footer-box {
    justify-content: center;
    align-items: center;
  }
  .footer-left {
    justify-content: center;
    align-items: center;
  }
  .footer-left-up {
    justify-content: center;
    align-items: center;
  }
  .footer-left-down {
    justify-content: center;
    align-items: center;
  }
  .footer-right {
    justify-content: center;
    align-items: center;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.colored-bg {
  border-radius: 0px 0px 12px 12px;
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%));
}
.colored-bg__shadow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colored-bg__shadow_1 {
  width: 98%;
  height: 10px;
  flex-shrink: 0;
  border-radius: 0px 0px 12px 12px;
  background: #cacadb;
}
.colored-bg__shadow_2 {
  width: 96%;
  height: 10px;
  flex-shrink: 0;
  border-radius: 0px 0px 12px 12px;
  background: #e7e7f2;
}

.hero {
  padding: 60px;
}
.hero__header {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--gradient-red-text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
}
.hero__blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.hero .block {
  height: auto;
  min-height: 268px;
  max-height: 400px;
  width: auto;
  max-width: 423px;
  min-width: 315px;
}
.hero .block__img {
  border-radius: 24px;
  background: var(--basic-white, #fff);
  display: flex;
  padding: 14px;
  align-items: flex-start;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
}
.hero .block__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.hero .block__title a {
  color: var(--active-regular, #24a3ff);
}
.hero .block__title a:hover {
  color: var(--Accent, #f0145a);
}
.hero .block__text {
  color: var(--basic-white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.clients {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clients__header {
  margin: 60px 0 30px 0;
  color: var(--main-regular, #323264);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.clients__blocks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.client {
  width: 25%;
  min-width: 256;
  max-width: 430;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323264;
}
.client_1 {
  background: #1c4280;
}
.client_2 {
  background: #143646;
}
.client_3 {
  background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
}
.client_4 {
  background: #9e4dc3;
}
.client_5 {
  background: #fd9339;
}
.client_6 {
  background: #e2e2e4;
}
.client_7 {
  background: #c71c36;
}
.client_8 {
  background: #dcf3f9;
}
.client_9 {
  background: #eaeaea;
}
.client_10 {
  background: #282240;
}
.client_11 {
  background: #1d4568;
}
.client_12 {
  background: #000;
}

@media screen and (min-width: 1421px) {
  .clients {
    margin: 0 5% 60px 5%;
  }
  .clients__blocks {
    border-radius: 12px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1100px) {
  .client {
    width: 50%;
  }
  .hero {
    padding: 60px 30px;
  }
}
@media screen and (max-width: 600px) {
  .client {
    width: 100%;
  }
  .hero {
    padding: 60px 15px;
  }
}