@import "nullstyle.scss";
@import "header.scss";
@import "colors.scss";
@import "footer.scss";
body {
	font-family: "Montserrat", sans-serif;
}
.colored-bg {
	border-radius: 0px 0px 12px 12px;
	background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%));
	&__shadow {
		display: flex;
		flex-direction: column;
		align-items: center;
		&_1 {
			width: 98%;
			height: 10px;
			flex-shrink: 0;
			border-radius: 0px 0px 12px 12px;
			background: #cacadb;
		}
		&_2 {
			width: 96%;
			height: 10px;
			flex-shrink: 0;
			border-radius: 0px 0px 12px 12px;
			background: #e7e7f2;
		}
	}
}
.hero {
	padding: 60px;
	&__header {
		font-size: 38px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		background: var(--gradient-red-text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 60px;
	}
	&__blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
		align-items: center;
		justify-content: center;
	}
	&__block {
	}
	.block {
		height: auto;
		min-height: 268px;
		max-height: 400px;
		width: auto;
		max-width: 423px;
		min-width: 315px;
		&__img {
			border-radius: 24px;
			background: var(--basic-white, #fff);
			display: flex;
			padding: 14px;
			align-items: flex-start;
			gap: 10px;
			width: fit-content;
			height: fit-content;
			margin-bottom: 30px;
		}
		&__title {
			a {
				color: var(--active-regular, #24a3ff);
				&:hover {
					color: var(--Accent, #f0145a);
				}
			}
			font-size: 22px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 15px;
		}
		&__text {
			color: var(--basic-white, #fff);
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px;
		}
	}
}
.clients {
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__header {
		margin: 60px 0 30px 0;
		color: var(--main-regular, #323264);
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	&__blocks {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.client {
	width: 25%;
	min-width: 256;
	max-width: 430;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #323264;
	&__img {
	}
	&_1 {
		background: #1c4280;
	}
	&_2 {
		background: #143646;
	}
	&_3 {
		background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
	}
	&_4 {
		background: #9e4dc3;
	}
	&_5 {
		background: #fd9339;
	}
	&_6 {
		background: #e2e2e4;
	}
	&_7 {
		background: #c71c36;
	}
	&_8 {
		background: #dcf3f9;
	}
	&_9 {
		background: #eaeaea;
	}
	&_10 {
		background: #282240;
	}
	&_11 {
		background: #1d4568;
	}
	&_12 {
		background: #000;
	}
}

@media screen and (min-width: 1421px) {
	.clients {
		margin: 0 5% 60px 5%;
		&__blocks {
			border-radius: 12px;
			overflow: hidden;
		}
	}
}
@media screen and (max-width: 1100px) {
	.client {
		width: 50%;
	}
	.hero {
		padding: 60px 30px;
	}
}
@media screen and (max-width: 600px) {
	.client {
		width: 100%;
	}
	.hero {
		padding: 60px 15px;
	}
}
