@import "nullstyle.scss";
@import "header.scss";
@import "colors.scss";
@import "footer.scss";
body {
	font-family: "Montserrat", sans-serif;
}
.colored-bg {
	border-radius: 0px 0px 12px 12px;
	background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%));
	&__shadow {
		display: flex;
		flex-direction: column;
		align-items: center;
		&_1 {
			width: 98%;
			height: 10px;
			flex-shrink: 0;
			border-radius: 0px 0px 12px 12px;
			background: #cacadb;
		}
		&_2 {
			width: 96%;
			height: 10px;
			flex-shrink: 0;
			border-radius: 0px 0px 12px 12px;
			background: #e7e7f2;
		}
	}
}
.content {
	background: center url(../img/Homepage/Symbol.svg) no-repeat;
	pointer-events: none;
	width: 100%;
	margin-top: -173px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	&-img {
		background-image: url(../img/Homepage/Scroll.svg);
		width: 42px;
		height: 42px;
		margin-top: -60px;
		pointer-events: all;
		border-radius: 50%;
		&:hover {
			background: none;
			background-image: url(../img/Homepage/Scroll2.svg);
		}
	}
	&-title {
		color: var(--basic-white, #fff);
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;
		text-align: center;
		font-size: 38px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}
.experience {
	display: flex;
	margin: 60px 10%;
	.experience-left {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		p {
			color: var(--grey-text, #b3b3ba);
			text-align: right;
			font-size: 38px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			&:hover {
				color: var(--Accent, #f0145a);
				cursor: pointer;
			}
		}
		.active {
			text-align: right;
			font-size: 38px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			background: var(--gradient-text-red-reversed, linear-gradient(90deg, #ef8080 0.84%, #f0145a 99.96%));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.experience-right {
		margin: 0 60px;
		padding-left: 60px;
		border-left: 4px solid rgba(255, 255, 255, 0.3);
		width: 50%;
	}
	.experience-right__title {
		color: var(--basic-white, #fff);
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 30px;
	}
	.experience-right__text {
		color: var(--basic-white, #fff);
		font-size: 19px;
		font-style: normal;
		font-weight: 400;
		line-height: 30px;
	}
}
.hero {
	padding: 60px;
	.recommended-link {
		color: var(--active-regular, #24a3ff);
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
		display: flex;
		width: fit-content;
		gap: 2px;
		align-items: center;
		&:hover {
			color: var(--Accent, #f0145a);
		}
	}
	&__header {
		font-size: 38px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		background: var(--gradient-red-text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 60px;
	}
	&__blocks {
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
		align-items: center;
		justify-content: center;
	}
	&__block {
	}
	.block {
		height: auto;
		min-height: 268px;
		max-height: 400px;
		width: auto;
		max-width: 423px;
		min-width: 315px;
		&__img {
			border-radius: 24px;
			background: var(--basic-white, #fff);
			display: flex;
			padding: 14px;
			align-items: flex-start;
			gap: 10px;
			width: fit-content;
			height: fit-content;
			margin-bottom: 30px;
		}
		&__title {
			a {
				color: var(--active-regular, #24a3ff);
				&:hover {
					color: var(--Accent, #f0145a);
				}
			}
			font-size: 22px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 15px;
		}
		&__text {
			color: var(--basic-white, #fff);
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px;
		}
	}
}
.team {
	display: flex;
	justify-content: center;
	margin: 0 10%;
	.team-left {
		border-radius: 12px 0px 0px 12px;
		width: auto;
		height: auto;
		max-width: 648px;
		min-width: 315px;
		max-height: 528px;
		min-height: 250px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.team-right {
		margin: 30px;
		a {
			color: var(--active-regular, #24a3ff);
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 1px;
			text-transform: uppercase;
			&:hover {
				color: var(--Accent, #f0145a);
			}
		}
	}
	.team-title {
	}
	.team-name {
		color: var(--grey-text, #b3b3ba);
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.team-sec {
		color: var(--grey-text, #b3b3ba);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
	}
	&__dots {
		justify-content: center;
		display: flex;
		gap: 16px;
		margin: 30px 0 0 0;
	}
	&__dot {
		border-radius: 50%;
		width: 16px;
		height: 16px;
		background-color: var(--active-regular);
		opacity: 0.2;
		&:hover {
			opacity: 1;
		}
	}
}
.clients {
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__header {
		margin: 60px 0 30px 0;
		color: var(--main-regular, #323264);
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	&__blocks {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.client {
	width: 25%;
	min-width: 256;
	max-width: 430;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #323264;
	&__img {
	}
	&_1 {
		background: #1c4280;
	}
	&_2 {
		background: #143646;
	}
	&_3 {
		background: linear-gradient(0deg, #f48b30 0%, #f48b30 100%), #f48b30;
	}
	&_4 {
		background: #9e4dc3;
	}
	&_5 {
		background: #fd9339;
	}
	&_6 {
		background: #e2e2e4;
	}
	&_7 {
		background: #c71c36;
	}
	&_8 {
		background: #dcf3f9;
	}
	&_9 {
		background: #eaeaea;
	}
	&_10 {
		background: #282240;
	}
	&_11 {
		background: #1d4568;
	}
	&_12 {
		background: #000;
	}
}
.recommended {
	margin-top: 60px;
	border-radius: 12px 12px 0px 0px;
	background: var(--grey-bg, #f5f5fa);
	padding: 30px 5% 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.recommended-link {
		width: 80%;
		color: var(--active-regular, #24a3ff);
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
		&:hover {
			color: var(--Accent, #f0145a);
		}
	}
	.recommended-title {
		margin-bottom: 30px;
		width: 80%;
		font-size: 38px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		background: var(--gradient-red-text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.recommended-blocks {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
	}
}
.publication {
	height: 530px;
	max-width: 512px;
	width: auto;
	min-width: 315px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	border-radius: 8px;
	background: var(--basic-white, #fff);
	overflow: hidden;

	.publication__img {
		width: 100%;
		height: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
	.publication__wrapper {
		padding: 30px;
	}
	.publication__header {
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		padding-bottom: 15px;
		a {
			color: var(--active-regular, #24a3ff);
			&:hover {
				color: var(--Accent, #f0145a);
			}
		}
	}
	.publication__date {
		padding-bottom: 15px;
		color: var(--grey-text, #b3b3ba);
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.publication__text {
		border-top: 4px solid var(--grey-separator, #e6e6f0);
		padding-top: 15px;
		color: var(--basic-black, #000);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
	}
}

@media screen and (min-width: 1421px) {
	.clients {
		margin: 0 5% 60px 5%;
		&__blocks {
			border-radius: 12px;
			overflow: hidden;
		}
	}
}
@media screen and (max-width: 1100px) {
	.client {
		width: 50%;
	}
	.hero {
		padding: 60px 30px;
	}
	.team {
		flex-direction: column;
	}
	.experience {
		.experience-left {
			width: 100%;
			align-items: center;

			flex-direction: column;
		}
		.experience-right {
			margin-left: 0;
			width: 100%;
			align-items: center;
			margin-top: 60px;
			padding-top: 60px;
			border-top: 4px solid rgba(255, 255, 255, 0.3);
			border-left: none;
		}
		flex-direction: column;
	}
	.publication {
		max-width: none;
	}
}
@media screen and (max-width: 600px) {
	.client {
		width: 100%;
	}
	.hero {
		padding: 60px 15px;
	}
	.header__left-block {
		img {
		}
		padding-right: 20%;
	}
	.header {
		overflow: hidden;
	}
}
