@import "nullstyle.scss";
@import "header.scss";
@import "colors.scss";
@import "footer.scss";
body {
	font-family: "Montserrat", sans-serif;
}

.wrapper {
	max-width: 100%;
	overflow: hidden;
}
.info-block {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin-bottom: 60px;
	justify-content: center;
	align-items: center;
	&__img {
		overflow: hidden;
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
		border-radius: 12px;
		width: 100%;
		height: 100%;
		max-width: 400px;
		max-height: 500px;
		min-height: 375px;
		.info-block__title {
			display: none;
		}
	}
	.s-b {
		margin-left: 60px;
		width: 50%;
	}
	&__title {
		width: 100%;
		display: flex;
		flex-direction: column;
		&-flex-i {
			display: flex;
			flex-wrap: wrap;
		}
		&-name {
			font-size: 38px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			background: var(--gradient-red-text, linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-bottom: 15px;
		}
		&-spec {
			color: var(--grey-text, #b3b3ba);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px;
		}
		&-email {
			color: var(--active-regular, #24a3ff);
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin: 0 15px;
		}
		&-linkedin {
			color: var(--active-regular, #24a3ff);
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
	&__text {
		order: 4;
		width: 100%;
		height: 100%;
		border-top: 4px solid var(--grey-separator);
		padding-top: 30px;
		margin-top: 30px;
		p {
			padding: 10px 0;
			color: var(--main-regular, #323264);
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
}

.footer {
	&-box {
		border-top: none;
	}
}

@media screen and (max-width: 1420px) {
	.info-block {
		&__img {
			width: 100%;
			min-height: 100%;
		}
		&__title {
			width: 100%;
		}
		&__text {
			width: 100%;
		}
	}
}

@media screen and (max-width: 1100px) and (min-width: 600px) {
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.info-block {
		&__img {
			display: flex;
			flex-direction: row;
			max-width: 100%;
			img {
				width: 50%;
				border-radius: 12px;
				margin-right: 30px;
			}
			min-height: 50%;
			.info-block__title {
				display: flex;
				justify-content: center;
				.info-block__title-flex-i {
					overflow: visible;
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					div {
						margin: 0 0 10px 0;
					}
				}
			}
		}
		.s-b {
			width: 100%;
			margin-left: 0;
		}
		&__title {
			width: 100%;
			display: none;
		}
		&__text {
			width: 100%;
		}
	}
}
@media screen and (max-width: 600px) {
	.info-block {
		width: 100%;
		&__img {
			display: block;
			max-width: 100%;
			margin: 0 30px;
			width: 100%;
			height: min-content;
			min-height: none;
			.info-block__title {
				display: none;
			}
		}
		.s-b {
			margin: 30px;
			width: 100%;
		}
		&__title {
			display: block;
			width: 100%;
		}
		&__text {
			width: 100%;
		}
	}
}
